.place__image {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 629px) {
  .place__image {
    padding: 0;
    max-width: 100%;
  }
}


@media (max-width: 293px) {
  .place__image {
    margin: 0;
  }
}
