.places__header {
  display: flex;
  margin-bottom: 48px;
  gap: 8%;

}

@media (max-width: 629px) {
  .places__header {
    margin: 0;
    flex-wrap: wrap;
  }

}

@media (max-width: 429px) {
  .places__header {
    margin: 0 16px;
  }
}


@media (max-width: 293px) {
  .places__header {
    margin: 0;
  }
}
