.cover__section {
  position: relative;
  margin: 92px 48px 0;
}

@media (max-width: 1279px) {
  .cover__section {
    margin: 92px 0 0;
  }
}

@media (max-width: 468px) {
  .cover__section {
    margin: 66px 0 0;
  }
}

