.places__place {
  margin: 0 148px 80px;
}

.places__place:first-child {
  margin-top: 0;
}

.places__place:last-child {
  margin-bottom: 0;
}

@media (max-width: 1279px) {
  .places__place  {
    margin: 80px 48px 80px;
  }
}

@media (max-width: 1023px) {
  .places__place  {
    margin: 73px 24px 73px;
  }
}

@media (max-width: 420px) {
  .places__place  {
    margin: 50px 0 50px;
  }
}

