.cover__title {
  text-align: center;
  font-size: 72px;
  line-height: 1.06;
  margin: 0 0 32px;
  padding: 0;
}

@media (max-width: 725px) {
  .cover__title {
    font-size: 60px;
  }
}

@media (max-width: 629px) {
  .cover__title {
    font-size: 38px;
    margin-bottom: 16px;
  }
}

@media (max-width: 429px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 100%;
  }
}
