.footer__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 18px;
}

@media (max-width: 629px) {
  .footer__list {
    margin: 0 0 48px 16px;
    flex-direction: column;
    gap: 32px;
  }
}
